# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Production builds & dist
dist/
build/

# Environment & Secrets
.env
.env.local
*.secret

# IDE & System Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
